<div class="example-container mat-elevation-z8">
    <mat-table #table [dataSource]="dataSource">
    
        <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> {{ 'Description' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
        </ng-container>
    
        <ng-container matColumnDef="size">
        <mat-header-cell *matHeaderCellDef> {{ 'Size' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.size.name }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> {{ 'Price' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="senderrating">
        <mat-header-cell *matHeaderCellDef> {{ 'Sender Rating' | translate }} </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.sender.senderrating }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="more">
            <mat-header-cell *matHeaderCellDef> {{ 'More' | translate }} </mat-header-cell>
            <mat-cell *matCellDef="let element"><button mat-button (click)="openShipmentDetailDialog(element)" class="btn btn-primary">{{'More' | translate}}</button></mat-cell>
        </ng-container>
    
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    
    <mat-paginator #paginator
                    [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 20]"
                    [showFirstLastButtons]="true">
    </mat-paginator>
</div>
      