.mat-input-element:disabled {
  color: rgba(0,0,0, 0.87); //Todo: Replac hard coded color with color variable for default text color
}

.full-width {
  width: 100%;
}

.field-name {
  font-style: italic;
}