<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
          <h1>{{ 'Administration' | translate}}</h1>

          <mat-tab-group>
              <mat-tab label="Driver Verification">
                  <app-driver-verification></app-driver-verification>
              </mat-tab>
              <mat-tab label="Manage Users">
                  <app-user-management></app-user-management>
              </mat-tab>
              <mat-tab label="Manage Admins">
                  <app-admin-management></app-admin-management>
              </mat-tab>
              <mat-tab label="Manage Shipments & Ratings">
                  <app-shipment-management></app-shipment-management>
              </mat-tab>
          </mat-tab-group>

      </div>
    </div>
  </div>
</div>
